# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Apr 1 2024 21:53:32

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 5
set_io a_i 23
set_io b_i 25
set_io ci_i 34
set_io co_o 42
set_io s_o 36

